@model KB.Enteties.Category

@{
    ViewBag.Title = "Details";
}

<h2>@Model.Name</h2>

<fieldset>
    <legend>Category</legend>

</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>

<!-- LÄGG PARTIAL VIEW HÄR -->

    @*@Html.Action("List", "Article", Model.Name);*@
    @Html.Partial("_ListArticles",Model.Articles)

