@model IEnumerable<KB.Enteties.Article>
@{
    ViewBag.Title = "Home Page";
}
<h2>
    @if (ViewBag.IsCategory == true){<text>@ViewBag.Category</text>}
</h2>
@foreach (var item in Model)
{
    <div class="article-list-item">    
        <ul>
            <li class="article-item-title">@Html.ActionLink(item.Title, "Show", "Article", new { id = item.Id }, new { id = item.Id })</li>
            <li class="article-item-category">@Html.DisplayFor(modelItem => item.Category.Name)</li>
            <li>By: @Html.DisplayFor(modelItem => item.Author.Name)</li>
        </ul>
    </div>

}
