@model IEnumerable<KB.Enteties.Article>
@{
    ViewBag.Title = "Home Page";
}
@foreach (var item in Model)
{
    <div class="article-list-item">
            
        <ul>
            <li class="article-item-title"><a href="/KB/Article/@item.Id">@item.Title</a></li>
            <li class="article-item-category"><a href="/KB/Articles/@Html.DisplayFor(modelItem => item.Category.Name)"> @Html.DisplayFor(modelItem => item.Category.Name)</a></li>
            <li>By: @Html.DisplayFor(modelItem => item.Author.Name)</li>
        </ul>
    </div>

}
