@model IEnumerable<KB.Enteties.Article>
@{
    ViewBag.Title = "Home Page";
}
@foreach (var item in Model)
{
    <div class="article-list-item">
        <h3>@item.Title</h3>
        By: @Html.DisplayFor(modelItem => item.Author.Name) <br />
        <small>@item.CreationDate</small>
    </div>
}